html,
body {
	margin: 0;
	padding: 0;
    background-color: #23252C;
}

body{
    display: flex;
    justify-content: center;
}

#root {
    margin-top: 45px;
    width: 317px;
    height: 780px;
    background-color: #1A1B21;
    border-radius: 10px 10px 10px 10px;
}

