* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
	/* background-color: #282D35; */
}

#root,
.app {
	height: 100vh;
}

.nav {
	display: flex;
	align-items: center;
	background-color: #21222a;
	height: 90px;
	padding: 30px 25px;
}

.nav--logo {
	height: 30px;
	margin-right: 7px;
}

.nav--logo_text {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	letter-spacing: -0.05em;
	color: #61dafb;
	margin-right: auto;
}

.nav--title {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #deebf8;
}

.main {
	background-color: #282d35;
	color: #ffffff;
	height: 100%;
	padding: 57px 27px;
	background-image: url(./images/reactjs-icon-big.png);
	background-repeat: no-repeat;
	background-position: right 131px;
}

.main--title {
	font-weight: 700;
	font-size: 40px;
	line-height: 47px;
	letter-spacing: -0.05em;
}

.main--facts {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin-top: 46px;
	max-width: 440px;
}

.main--facts > li {
	padding-block: 10px;
}

.main--facts > li::marker{
	color: #61DAFB;
	font-size: 1.4rem;
}